@import './../../styles/config.module.scss';

.themeBtn{
  all: unset;
  height: 30px;
  border-radius: 15px;
  width: 56px;
  display: flex;
  padding: 0 2px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--theme-bg);
  cursor: pointer;
  margin-left: 28px;
  outline: solid 1.5px var(--theme-bg);
  position: relative;

  .circle{
    position: absolute;
    top: 2px;
    right: 2px;
    height: 26px;
    width: 26px;
    border-radius: 20px;
    background-color: var(--basic-heading);
    z-index: 2;
    transition: transform 0.1s ease-in-out;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    outline: solid 2px var(--basic-heading);
    opacity: 0%;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover{
    &::before{
      opacity: 100%;
    }
  }
}