/*
* This file contains variables for color codes for use in the app
* v.0.0
*/

//COMPLEMENTARY COLORS
$light-color: #f3f3f3;
$primary-color: #153F67;
$pkmn1-color: #36B7AF;
$pkmn2-color: #C13CFF;
$success-color: #0AA849;
$warning-color: #FFCA0F;
$danger-color: #EA526F;
$faster-color: #5994BF;
$slower-color: #BB9262;
$tie-color: #CBBA20;
$header-color :#3584CD;


//// For Background ////
$basic-1000: #000;
$basic-900: #141519;
$basic-800:#202225;
$basic-700:#1c1e20;
$basic-600:#1F2228;
$basic-500:#393C43;
$basic-400:#40444C;

//// For text ////

$basic-300:#8D9298;
$basic-200:#BEBEBE;
$basic-100:#CFD2D9;
$basic-50:#E3E6ED;
$basic-0:#FFFFFF;