/*
* This file contains variables for color codes for use in the app
* v.0.0
*/

//COMPLEMENTARY COLORS
$light-color: #f3f3f3;
$primary-color: #153F67;
$pkmn1-color: #36B7AF;
$pkmn2-color: #C13CFF;
$success-color: #0AA849;
$warning-color: #FFCA0F;
$danger-color: #EA526F;
$faster-color: #5994BF;
$slower-color: #BB9262;
$tie-color: #CBBA20;
$header-color :#3584CD;


