@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


:root{
  //FONT COLORS
  --basic-heading: #153F67;
  --body-font: #2B2B2B;
  --light-font: #f3f3f3;
  
  --svg-underline :url("data:image/svg+xml,%3Csvg width='48' height='2' viewBox='0 0 48 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1H12' stroke='%23153F67' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M20 1H28' stroke='%23153F67' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M36 1H44' stroke='%23153F67' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");

  //BACKGROUND COLORS
  --content-bg: #F1F9FB;
  --app-bg: #F3F3F3;
  --primary-bg: #5F9FFF;
  --secondary-bg: #153F67;
  --icon-bg: rgba(21, 63, 103, 0.8);
}

[data-theme='dark']{
    //Font Colors
    --basic-heading: #eaeaea;
    --body-font: #eaeaea;
    --light-font: #2b2b2b;

    --svg-underline : url("data:image/svg+xml,%3Csvg width='48' height='2' viewBox='0 0 48 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1H12' stroke='%23EAEAEA' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M20 1H28' stroke='%23EAEAEA' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M36 1H44' stroke='%23EAEAEA' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");  
  
    //Background Colors
    --app-bg: #3c3c3c;
    --content-bg: #4f4f4f;
    --secondary-bg: #CCD2E3;  
    --icon-bg: #f3f3f3;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 300px;
  font-family: 'Roboto', sans-serif;
}


h1,h2,h3,h4,h5{
  font-weight: 500;
  margin: 0;
  font-family: 'Patua One', cursive;
}

h3{
 font-size: 20px;
 line-height: 24px;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-r{
  display: flex;
  flex-flow: row;

  &.cx{
    align-items: center;
  }
  &.cy{
    justify-content: center;
  }
}

.flex-c{
  display: flex;
  flex-flow: column;
}
