@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


:root{
  //FONT COLORS
  --basic-heading: #153F67;
  --body-font: #2B2B2B;
  --light-font: #f3f3f3;

  //BACKGROUND COLORS
  --content-bg: #F1F9FB;
  --app-bg: #F3F3F3;
  --primary-bg: #5F9FFF;
  --secondary-bg: #153F67;
}

[data-theme='dark']{
    //Font Colors
    --basic-heading: #eaeaea;
    --body-font: #eaeaea;
    --light-heading: #153F67;
  
  
    //Background Colors
    --app-bg: #3c3c3c;
    --content-bg: #4f4f4f;
    --secondary-bg: #CCD2E3;  
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 300px;
  font-family: 'Roboto', sans-serif;
}


h1,h2,h3,h4,h5{
  font-weight: 500;
  margin: 0;
  font-family: 'Patua One', cursive;
}

h3{
 font-size: 20px;
 line-height: 24px;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-r{
  display: flex;
  flex-flow: row;

  &.cx{
    align-items: center;
  }
  &.cy{
    justify-content: center;
  }
}

.flex-c{
  display: flex;
  flex-flow: column;
}

main{
  padding: 0 12px;
}