@import './../../styles/config.module.scss';

.calcUIContainer{
  padding-top: 35px;
  width: 240px;
  
  .text{
    color: var(--basic-heading);
    text-align: center;
  }
  h3.text{
    margin-bottom: 22px;
  }
  h4.text{
    margin: 20px 0;
  }
  h5.text{
    margin: 4px 0 6px 0;
  }

  .compareContainer{
    margin-bottom: 6px;
  }
  .pContainer{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .formContainer{
    width: 100%;
    display: flex;
    align-items: row;
    flex-wrap: wrap;
  }
}