@import './../../styles/config.module.scss';

.modContainer{
  --mod-size-l: 36px;
  --mod-size-m: 24px;
  --mod-size-s: 16px;
  background-color: var(--icon-bg);
  display: inline-block;
  position: relative;
  border-radius: var(--mod-size-l);


  &.l{
    height: var(--mod-size-l);
    width:var(--mod-size-l);

    .modIcon{
      height: var(--mod-size-l);
      width: var(--mod-size-l);
    }
  }
  &.m{
    height: var(--mod-size-m);
    width:var(--mod-size-m);

    .modIcon{
      height: var(--mod-size-m);
      width: var(--mod-size-m);
    }
  }
  &.s{
    height: var(--mod-size-s);
    width: var(--mod-size-s);

    .modIcon{
      height: var(--mod-size-s);
      width: var(--mod-size-s);
    }
  }

  @media screen and (min-width:map-get($breakpoints, 'small')) {
    --mod-size-l:40px;
    --mod-size-m:26px;
    --mod-size-s: 18px;
  }

  .modTooltip{
    @include tooltip
  }

  &:hover{
    .modTooltip{
      display: inline-block;
    }
  }
}
