@import './../../../styles/config.module.scss';

.bigInputContainer{
  width:100%;
  max-width: 200px;
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  .bigInput{
    all: unset;
    width: 100%;
    font-family: 'Patua One', cursive;
    color: $pkmn1-color;
    @include font-size(24px);
    padding-bottom: 2px;
    position: relative;
    margin-bottom: 3px;

    &:focus{
      outline: solid 2px $basic-500;
    }
  }

  .underline{
    display: block;
    max-width: 200px;
    width: 100%;
    height: 2px;
    background-image: var(--svg-underline);
  }

  .optionsContainer{
    position: absolute;
    width: 100%;
    margin-top: 38px;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;

    &.hide{
      display: none;
      opacity: 0;
    }

    .option{
      width: 100%;
      font-family: $BODY_FONT;
      padding: 6px 0;
      background: white;
      font-weight: 400;
      color: $basic-500;
      display: block;
      border: solid 1px rgba($color: #000000, $alpha: 0.4);
      cursor: pointer;
      transition: background 0.05s ease-in-out;
      margin-bottom: -1px;
      
      &:focus{
        outline: solid 2px $basic-200;
      }
      &:hover{
        background: $basic-100;
      }
    }
  }
  ::-webkit-calendar-picker-indicator{
    display: none!important;
  }
}