@import './../../styles/config.module.scss';

.homepage{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  
  .textIs{
    margin: 33px 0;
  }

  h3,h4{
    color: $basic-heading;
  }
}