@import './../../styles/config.module.scss';

$icon-size: 16px;
.resultPage{
  .verdictCard{
    width: 100%;
    max-width: 245px;
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 23px;
    position: relative;

    &.simpleCard{
      padding-top: 6px;
    }
  
    .bigInput{
      max-width: 110px;
      input{
        @include font-size(32px);
      }
    }

    .pkmnSprite{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &.p1Sprite{
        height: 84px;
        width: 84px;
      }
      &.p2Sprite{
        height: 55px;
        width: 55px;
      }
    }
    .p2Container{
      position: absolute;
      display: flex;
      align-items: center;
      right: -25px;
      bottom: -10px;
      .sideSpriteContainer{
        margin-left: 8px;
        height: 50px;
        width: 50px;
        border-radius: 30px;
        outline: solid 4px $primary-color;
        background: var(--content-bg);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        .imageMask{
          height: 50px;
          width: 50px;
          border-radius: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }

        &:hover{
          .tooltip{
            display: inline-block
          }
        }
      }
    }
    
    .tooltip{
      @include tooltip;
      top : -36px;
    }

    .trResult{
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      align-items: center;

      p{
        font-family: 'Patua One';
        margin: 0;
        margin-right: 4px;
      }
    }
  }
  
  .analysesCard{
    margin-top: 38px;
    margin-bottom: 38px;

    .statTooltip{
      border-bottom: dashed 1px var(--body-font);
      position: relative;

      &::before{
        content: attr(data-tooltip);
        position: absolute;
        background-color: var(--secondary-bg);
        @include font-size(11px);
        color: var(--light-font);
        padding: 4px 6px;
        top: -30px;
        left: -40%;
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: none;
        opacity: 0.9s;
      }

      &:hover{
        &::before{
          display: block;
        }
      }
    }
  }

  .statCalcCard{
    margin-top: 39px;
    padding-bottom: 18px;
  
    .calculationContainer{
      margin-top: 22px;
      margin-bottom: 22px;
      width: 90%;
      display: grid;
      grid-template-columns: auto auto auto auto;
      color: var(--body-font);
      p{
        margin: 0;
      }
      .title{
        @include font-size(16px);
        font-weight: 300;
      }
  
      .statContainer{
        justify-self: center;
        display: flex;
        flex-flow: column;
        align-items: center
      }
  
      .bspd{
        @include font-size(16px);
        @include line-height(18px);
        font-family: 'Patua One', cursive;
      }

      .stat{
        font-size: 10.5px;
      }
      .vs{
        font-family: 'Patua One', cursive;
        justify-self: center;
      }
  
      .totalSpeed{
        justify-self: center;
  
        &.faster{
          color: $faster-color;
          @include font-size(32px);
        }
        &.slower{
          color:$slower-color;
        }
        &.tied{
          color:$tie-color;
        }
      }

      .modifierContainer{
        justify-self: center;
        display: flex;
        justify-content: center;
        height: $icon-size;
      }

      .divider{
        grid-area: auto/auto/auto/span 3;
        margin-top: 7px;
        margin-bottom: 10px;
        border-bottom: solid 1px var(--basic-heading);
        width: 92%;
        opacity: 0.5;
      }
    }
  }

  .faster{
    color: $faster-color;
  }
  .slower{
    color:$slower-color;
  }
  .tied{
    color:$tie-color;
  }

  .modifierIcon{
    margin: 0 1.5px;
    margin-bottom: 3px;
  }
  .p1text{
    color: $pkmn1-color
  }
  h2.p1text{
    @include font-size(32px);
    @include line-height(39px);
  }
  .p2text{
    color: $pkmn2-color
  }
  
  .text{
    @include font-size(16px);
    font-weight: medium;
    color: var(--basic-heading)
  }

  .icon{
    path{
      fill: var(--light-font)
    }
  }

  .iconStroke{
    path{
      stroke: var(--light-font)
    }
  }

  @media screen and (min-width: map-get($breakpoints, 'small')){
    padding-bottom: 21px;
    .verdictCard{
      max-width: 288px;
      padding-top: 38px;
      padding-bottom: 36px;
    }

    .statCalcCard, .tableCard, .analysesCard{
      max-width: 442px;
    }
  }

  .statTable{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--basic-heading);
    height: 100%;
    
    .sprite{
      height: 48px;
      width: 48px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    tr{
      color: var(--light);

      th:first-child{
        text-align: left;
        font-weight: 500;
      }
      th{
        width: calc(100% / 3);
        font-weight:400;
        padding: 4px;
        
        .pkmnContainer{
          height: 100%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          background: var(--table-accent);
          border-radius: 4px;
          padding: 2px;
          img{
            margin-bottom: 8px;
          }
        }
        .modContainer{
          display: flex;
          align-items: center;
        }
      }
      &:first-child{
        th{
          padding: 0;
        }
      }
      &:nth-child(even){
        background-color: var(--table-accent);
      }
    }
  }
}
